<style>
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@100;200;300;500;600;700;800;900&display=swap');
</style> 
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}
header{
    width: 100%;
    height: 100vh;
    background-image:url(./assets/tajmahal.jpg);
    background-size: cover;
}
nav{
    width: 100%;
    height: 15vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav .logo{
    width: 25%;
    text-align: center;
    color: whitesmoke;
    letter-spacing: 4px;
    transition: .5S ease;
}
nav .logo:hover{
    color: #00b894;
    transform: scale(1.2);
}
nav .menu{
    width: 40%;
    display: flex;
    justify-content: space-around;
}
nav .menu a{
    width: 25%;
    text-decoration: none;
    color: azure;
    font-weight: bold;
    transition: .5S ease-in;
}
nav .menu a:hover{
    color: #00b894;
    transform: scale(1.2);
}
nav .menu a:first-child{
    color: #00b894;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    color: aliceblue;
    text-shadow: 1px 1px 2px black;
}
section h1{
    margin:30px 0 20px 0;
    font-size: 40px;
    font-weight: 600;
    text-shadow: 2px 1px 5px black;
}
section p{
    font-size: 25px;
    color: #eee; 
    word-spacing: 2px;
    margin-bottom: 60px;
    text-shadow: 1px 1px 1px black;
}
section a{
    padding: 12px 30px;
    border-radius: 5px;
    outline: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all .5s ease;
}
section .btn1{
    background: #fff;
    color: black;
   margin: 20px;
}
section .btn1:hover{
    background: #00b894;
    color: white;
}
section .btn2{
    background: #00b894;
    color: white;
}
section .btn2:hover{
    background: #fff;
    color: black
}
.change-content:after{
    content: '';
    animation: changetext 10s infinite linear;
    color: #00b894;
}
@keyframes changetext {
    0%{content: "DARJEELING";}
    20%{content: "AGRA";}
    35%{content: "JAIPUR";}
    60%{content: "DELHI";}
    100%{content: "MUMBAI";}
}
.explore{
    text-align: center;
    color: black;
    transition: .4s;
}
.explore:hover{
    color: #00b894;
    transform: scale(1.1);
}
.image{
    width: 100%;
    height: 80vh;
    /* background-color: rgba(0,0,0,0.2); */
    background-image: url(./assets/bg-image.jpg);
    background-size: cover;
}
.img{
    width: 30%;
    height: 35vh;
    display: inline-flex;
    margin: 20px;
    border-radius: 15px;
    transition: .5s;
}
.img:hover{
    transform: scale(1.1);
    
}
.container{
    width: 100%;
    height: 100vh;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
h1{
    color: #ffffff;
    transition: .5s;
    margin-top: 25px;
}
h1:hover{
    color: #00b894;
}
iframe{
    width: 90%;
    height: 500px;
    filter: invert(100%);
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer p:nth-child(1){
    color: white;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}
footer p:nth-child(2){
    color: whitesmoke;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}
.social{
    display: flex;
}
.social a{
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.social a:hover{
    transform: scale(1.4);
    transition: 0.4s;
}
.last{
    color:aliceblue;
    font-size: 20px;
}